@import "tailwindcss";

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

.common-frame-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 1rem;
  padding-right: 1rem;
}